
   .root-pane {
    -fx-background-image: url("/image/background.png");
    -fx-background-size: cover; 
}

.form-container {
    -fx-background-color: rgba(31, 75, 44, 0.9);
    -fx-border-color: #1F4B2C;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;

    
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}

.field-label {
    -fx-font-size: 14px;
    -fx-text-fill: #92AC4F;       
    -fx-font-family: "Alata";
}

.input-field {
    -fx-background-radius: 8;
    -fx-prompt-text-fill: #A3A3A3;
    -fx-border-color: transparent;
}


.input-field:focused {
    -fx-border-color: #6EB1FF;     
    -fx-border-width: 2;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}


.input-field .text {
    -fx-font-size: 13px;
}

.error-text {
    -fx-fill: #FF3B3B;       
    -fx-font-size: 12px;
    -fx-font-family: "Alata";
}


.register-button {
    -fx-background-color: #C4EA57;
    -fx-text-fill: #4D7111;

    -fx-font-size: 16px;
    -fx-font-family: "Alata";

    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-border-color: transparent;


    -fx-cursor: hand;
}

.register-button:hover {
    -fx-background-color: #4D7111;
    -fx-text-fill: #C4EA57;
}